<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @brand.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @brand.description %>
</p>

<p>
  <strong>Favorite:</strong>
  <%= @brand.favorite %>
</p>
<!-- app/views/posts/show.html.erb -->


<!-- @post.image.present? will always return true, use attached? to check presence -->
  <p>
    <strong>Image:</strong>
    <br>
    <%= image_tag @brand.avatar %>
  </p>


<%= link_to 'Edit', edit_brand_path(@brand) %> |
<%= link_to 'Back', brands_path %>
