<!DOCTYPE html>
<html>
  <head>
    <title>SkateboardBrands</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <script type="text/javascript">
  window.I18n = <%= @translations.to_json.html_safe %>;
</script>


  <body>
    <%= yield %>
  </body>


</html>
